@page "/customers"
@using System.Text.RegularExpressions

<div class=@(addUserMenuOpened ? "hidden" : "top-bar")>
    <div class="top-bar-adduser-text" @onclick="()=>{addUserMenuOpened = !addUserMenuOpened;}">
        <h6>Add customer</h6><h2>&#43;</h2>
    </div>
</div>
<div class=@(addUserMenuOpened ? "top-bar add-user" : "hidden")>
    <div class="top-bar-label">
        <h5>Add customer</h5>
        <button type="button" @onclick="()=>{addUserMenuOpened = !addUserMenuOpened;}">Cancel</button>
    </div>

    <div class="add-user-input-container">
        <div >
            <div class="add-user-input-field">
                <p class="@(OrgNrInvalid ? "invalidText" : "")">Organisation Id</p>
                <InputText @bind-Value="_registrationForm.OrganisationNumber" typeof="text" placeholder="Oranisation Id" class="@(OrgNrInvalid ? "invalid" : "")" />
            </div>
            <div class="add-user-input-field">
                <InputText @bind-Value="_registrationForm.CompanyName" typeof="text" placeholder="Company name"/>
            </div>
        </div>
        <div >
            <div class="add-user-input-field">
                <p class="@(FirstNameInvalid ? "invalidText" : "")">First name <span>(required)</span></p>
                <InputText @bind-Value="_registrationForm.FirstName" typeof="text" placeholder="First name..." class="@(FirstNameInvalid ? "invalid" : "")" />
            </div>
            <div class="add-user-input-field">
                <p class="@(LastNameInvalid ? "invalidText" : "")">Last name <span>(required)</span></p>
                <InputText @bind-Value="_registrationForm.LastName" typeof="text" placeholder="Last name..." class="@(LastNameInvalid ? "invalid" : "")" />
            </div>
        </div>
        <div >
            <div class="add-user-input-field">
                <p class="@(EmailInvalid ? "invalidText" : "")">Email <span>(required)</span></p>
                <InputText @bind-Value="_registrationForm.Email" typeof="text" placeholder="Email adress..." class="@(EmailInvalid ? "invalid" : "")" />
            </div>
            <div class="add-user-input-field">
                <p class="@(PhoneInvalid ? "invalidText" : "")">Phone</p>
                <InputText @bind-Value="_registrationForm.Phone" typeof="text" placeholder="Phone number..." class="@(PhoneInvalid ? "invalid" : "")" />
            </div>
        </div>

        <button type="button" @onclick="SubmitInputs">Add customer</button>
    </div>
</div>

<div class="customer-list-container">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Org. number</th>
                <th>Company name</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Phone</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Customer customer in _customerlist)
            {
                @if (editModeEnabled && selectedCustomer == customer)
                {
                <td class="py-4 align-content-center">@customer.Id</td>
                <td class="py-4 align-content-center">
                    <p class="invalidText">@(EditModeOrgNrInvalid ? "Invalid org id" : "")</p>
                        <InputText @bind-Value="@customer.OrganisationNumber" typeof="text" placeholder="Organisation Nr" class="@(EditModeOrgNrInvalid ? "invalid" : "")" />
                    </td>
                    <td class="py-4 align-content-center">
                        <p></p>
                        <InputText @bind-Value="@customer.CompanyName" typeof="text" placeholder="Company name" /></td>
                    <td class="py-4 align-content-center">
                    <p class="invalidText">@(EditModeFirstNameInvalid ? "Name is required" : "")</p>
                        <InputText @bind-Value="@customer.FirstName" typeof="text" placeholder="First name" class="@(EditModeFirstNameInvalid ? "invalid" : "")" />
                        </td>
                    <td class="py-4 align-content-center">
                    <p class="invalidText">@(EditModeLastNameInvalid ? "Last name is required" : "")</p>
                        <InputText @bind-Value="@customer.LastName" typeof="text" placeholder="Last name" class="@(EditModeLastNameInvalid ? "invalid" : "")" />
                    </td>
                    <td class="py-4 align-content-center">
                    <p class="invalidText">@(EditModeEmailInvalid ? "Email is required" : "")</p>
                        <InputText @bind-Value="@customer.Email" typeof="text" placeholder="Email adress" class="@(EditModeEmailInvalid ? "invalid" : "")" />
                    </td>
                    <td class="py-4 align-content-center">
                    <p class="invalidText">@(EditModePhoneInvalid ? "Phone number required" : "")</p>
                        <InputText @bind-Value="@customer.Phone" typeof="text" placeholder="Phone number" class="@(EditModePhoneInvalid ? "invalid" : "")" />
                    </td>
                    <td class="py-4">
                        @if (!deleteConfirmEnabled)
                        {
                            <button @onclick="async ()=>{await SaveUpdatedToDb(customer);}">Save</button>
                            <button @onclick="async ()=>{await UpdateCustomerList();}">Cancel</button>
                            <button @onclick="()=>{deleteConfirmEnabled = true;}">Remove</button>
                        }
                        else
                        {
                            <p>Confirm delete</p>
                            <button @onclick="async ()=>{await RemoveCustomer(customer);}">Remove</button>
                            <button @onclick="()=>{deleteConfirmEnabled = false;}">Cancel</button>
                        }
                    </td>
                }
                else
                {
                    <tr class="hover-darken">
                        <td @onclick="async ()=>{await ToogleSelectedCustomer(customer);}">@customer.Id</td>
                        <td @onclick="async ()=>{await ToogleSelectedCustomer(customer);}">@customer.OrganisationNumber</td>
                        <td @onclick="async ()=>{await ToogleSelectedCustomer(customer);}">@customer.CompanyName</td>
                        <td @onclick="async ()=>{await ToogleSelectedCustomer(customer);}">@customer.FirstName</td>
                        <td @onclick="async ()=>{await ToogleSelectedCustomer(customer);}">@customer.LastName</td>
                        <td @onclick="async ()=>{await ToogleSelectedCustomer(customer);}">@customer.Email</td>
                        <td @onclick="async ()=>{await ToogleSelectedCustomer(customer);}">@customer.Phone</td>
                        <td><button @onclick="()=>{editModeEnabled = true; selectedCustomer = customer;}">Modify</button></td>
                    </tr>
                    @if(selectedCustomer == customer)
                    {
                        <div class="customers-projects-wrapper">
                            <h6>Connected projects</h6>
                            @if(_customerProjectList.Count == 0)
                            {
                                <p class="customers-projects">No connected projects</p>
                            }
                            else
                            {
                                @foreach (var project in _customerProjectList)
                                {
                                    <div>
                                        <p class="customers-projects" @onclick="()=>{NavigateToProject(project.Id);}">(P-@project.Id) @project.Name</p>
                                    </div>
                                }
                            }
                        </div>
                    }
                }
            }
        </tbody>
    </table>
</div>

@code {
    private CustomerRegistrationForm _registrationForm = new();
    private List<Customer> _customerlist = [];
    private List<Project> _customerProjectList = [];
    private bool addUserMenuOpened = false;
    private bool editModeEnabled = false;
    private bool deleteConfirmEnabled = false;
    private Customer selectedCustomer = null!;
    private bool emailExists = false;

    private bool OrgNrInvalid = false;
    private bool FirstNameInvalid = false;
    private bool LastNameInvalid = false;
    private bool EmailInvalid = false;
    private bool PhoneInvalid = false;

    private bool EditModeOrgNrInvalid = false;
    private bool EditModeFirstNameInvalid = false;
    private bool EditModeLastNameInvalid = false;
    private bool EditModeEmailInvalid = false;
    private bool EditModePhoneInvalid = false;

    protected override async Task OnInitializedAsync()
    {
        await UpdateCustomerList();
    }

    private async Task ToogleSelectedCustomer(Customer customer)
    {
        if (selectedCustomer == customer)
        {
            selectedCustomer = null!;
        }
        else
        {
            var projects = await _projectService.GetAllProjectsAsync(x => x.CustomerId == customer.Id);
            _customerProjectList = projects.ToList();
            selectedCustomer = customer;
        }
    }

    private async Task UpdateCustomerList()
    {
        // Reset all values
        deleteConfirmEnabled = false;
        editModeEnabled = false;
        selectedCustomer = null!;
        var x = await _customerService.GetAllAsync();
        _customerlist = x.ToList();
    }

    private async Task SubmitInputs()
    {
        if (await CheckInputs())
            return;

        var result = await _customerService.CreateAsync(_registrationForm);
        if (result != null)
        {
            UserAdded();
            await UpdateCustomerList();
        }
    }

    private async Task<bool> CheckInputs()
    {
        bool InvalidExists = false;
        OrgNrInvalid = false;
        FirstNameInvalid = false;
        LastNameInvalid = false;
        PhoneInvalid = false;
        EmailInvalid = false;
        emailExists = false;

        if (string.IsNullOrWhiteSpace(_registrationForm.FirstName))
        {
            FirstNameInvalid = true;
            InvalidExists = true;
        }else
            _registrationForm.FirstName = _registrationForm.FirstName.Trim();
        
        if (string.IsNullOrWhiteSpace(_registrationForm.LastName))
        {
            LastNameInvalid = true;
            InvalidExists = true;
        }else
            _registrationForm.LastName = _registrationForm.LastName.Trim();
        
        if (_registrationForm.CompanyName != null)
            _registrationForm.CompanyName = _registrationForm.CompanyName.Trim();

        if (string.IsNullOrWhiteSpace(_registrationForm.Email))
        {
            EmailInvalid = true;
            InvalidExists = true;
        }
        else
        {
            _registrationForm.Email = _registrationForm.Email.Trim().ToLower();
            var emailPattern = @"^[^@\s]+@[^@\s]+\.[^@\s]+$";
            if (!Regex.IsMatch(_registrationForm.Email, emailPattern))
            {
                EmailInvalid = true;
                InvalidExists = true;
            }
        }

        if (!string.IsNullOrWhiteSpace(_registrationForm.Phone))
        {
            _registrationForm.Phone = _registrationForm.Phone.Trim();
            var phonePattern = @"^\d{1,12}$";
            if (!Regex.IsMatch(_registrationForm.Phone, phonePattern))
            {
                PhoneInvalid = true;
                InvalidExists = true;
            }
        }

        if (!string.IsNullOrWhiteSpace(_registrationForm.OrganisationNumber))
        {
            _registrationForm.OrganisationNumber = _registrationForm.OrganisationNumber.Trim();
            var regexPattern = @"^\d{6}-\d{4}$";
            if (!Regex.IsMatch(_registrationForm.OrganisationNumber, regexPattern))
            {
                OrgNrInvalid = true;
                InvalidExists = true;
            }
        }

        // Check if email already exists
        var result = await _customerService.Exists(x => x.Email == _registrationForm.Email);
        if (result)
        {
            EmailInvalid = true;
            InvalidExists = true;
            emailExists = true;
        }

        return InvalidExists;
    }

    private bool CheckUpdatedInputs()
    {
        bool InvalidExists = false;
        EditModeOrgNrInvalid = false;
        EditModeFirstNameInvalid = false;
        EditModeLastNameInvalid = false;
        EditModeEmailInvalid = false;
        EditModePhoneInvalid = false;

        if (string.IsNullOrWhiteSpace(selectedCustomer.FirstName))
        {
            EditModeFirstNameInvalid = true;
            InvalidExists = true;
        }
        else
            selectedCustomer.FirstName = selectedCustomer.FirstName.Trim();

        if (string.IsNullOrWhiteSpace(selectedCustomer.LastName))
        {
            EditModeLastNameInvalid = true;
            InvalidExists = true;
        }
        else
            selectedCustomer.LastName = selectedCustomer.LastName.Trim();

        if (string.IsNullOrWhiteSpace(selectedCustomer.Email))
        {
            EditModeEmailInvalid = true;
            InvalidExists = true;
        }
        else
        {
            selectedCustomer.Email = selectedCustomer.Email.Trim().ToLower();
            var emailPattern = @"^[^@\s]+@[^@\s]+\.[^@\s]+$";
            if (!Regex.IsMatch(selectedCustomer.Email, emailPattern))
            {
                EditModeEmailInvalid = true;
                InvalidExists = true;
            }
        }

        if (!string.IsNullOrWhiteSpace(selectedCustomer.Phone))
        {
            selectedCustomer.Phone = selectedCustomer.Phone.Trim();
            var phonePattern = @"^\d{1,12}$";
            if (!Regex.IsMatch(selectedCustomer.Phone, phonePattern))
            {
                EditModePhoneInvalid = true;
                InvalidExists = true;
            }
        }

        if (!string.IsNullOrWhiteSpace(selectedCustomer.OrganisationNumber))
        {
            selectedCustomer.OrganisationNumber = selectedCustomer.OrganisationNumber.Trim();
            var regexPattern = @"^\d{6}-\d{4}$";
            if (!Regex.IsMatch(selectedCustomer.OrganisationNumber, regexPattern))
            {
                EditModeOrgNrInvalid = true;
                InvalidExists = true;
            }
        }

        return InvalidExists;
    }

    private void UserAdded()
    {
        _registrationForm = new();
        addUserMenuOpened = false;
    }

    private async Task SaveUpdatedToDb(Customer entity)
    {
        if (CheckUpdatedInputs())
            return;

        await _customerService.Update(entity);
        await UpdateCustomerList();
        editModeEnabled = false;
        selectedCustomer = null!;
    }

    private async Task RemoveCustomer(Customer customer)
    {
        await _customerService.Delete(customer);
        editModeEnabled = false;
        selectedCustomer = null!;
        await UpdateCustomerList();
    }

    private void NavigateToProject(int projectId)
    {
        NavigationManager.NavigateTo($"/projectview/{projectId}");
    }
}
