@page "/employees"
@using System.Text.RegularExpressions

<div class=@(addUserMenuOpened ? "hidden" : "top-bar")>
    <div class="top-bar-adduser-text" @onclick="()=>{addUserMenuOpened = !addUserMenuOpened;}">
        <h6>Add employee</h6><h2>&#43;</h2>
    </div>
</div>
<div class=@(addUserMenuOpened ? "top-bar add-user" : "hidden")>
    <div class="top-bar-label">
        <h5>Add employee</h5>
        <button type="button" @onclick="()=>{addUserMenuOpened = !addUserMenuOpened;}">Cancel</button>
    </div>

    <div class="add-user-input-container">
        <div>
            <div class="add-user-input-field">
                <p class="@(FirstNameInvalid ? "invalidText" : "")">First name <span>(required)</span></p>
                <InputText @bind-Value="_registrationForm.FirstName" typeof="text" placeholder="First name..." class="@(FirstNameInvalid ? "invalid" : "")" />
            </div>
            <div class="add-user-input-field">
                <p class="@(LastNameInvalid ? "invalidText" : "")">Last name <span>(required)</span></p>
                <InputText @bind-Value="_registrationForm.LastName" typeof="text" placeholder="Last name..." class="@(LastNameInvalid ? "invalid" : "")" />
            </div>
        </div>
        <div>
            <div class="add-user-input-field">
                @if (emailExists)
                {
                    <p class="invalidText">Email already exist!</p>
                }
                else
                {
                    <p class ="@(EmailInvalid ? "invalidText" : "")">Email <span>(required)</span></p>
                }
                <InputText @bind-Value="_registrationForm.Email" typeof="text" placeholder="Email adress..." class="@(EmailInvalid ? "invalid" : "")" />
            </div>
            <div class="add-user-input-field">
                <p class="@(PhoneInvalid ? "invalidText" : "")">Phone</p>
                <InputText @bind-Value="_registrationForm.Phone" typeof="text" placeholder="Phone number..." class="@(PhoneInvalid ? "invalid" : "")" />
            </div>
        </div>

        <button type="button" @onclick="SubmitInputs">Add customer</button>
    </div>
</div>

<div class="customer-list-container">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Phone</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Employee result in _employeeList)
            {
                @if (editModeEnabled && selectedEmployee == result){
                <td class="py-4 align-content-center">@result.Id</td>
                <td class="py-4 align-content-center">
                        <p class="invalidText">@(EditModeFirstNameInvalid ? "Name is required" : "")</p>
                        <InputText @bind-Value="@result.FirstName" typeof="text" placeholder="First name" class="@(EditModeFirstNameInvalid ? "invalid" : "")" />
                    </td>
                <td class="py-4 align-content-center">
                    <p class="invalidText">@(EditModeLastNameInvalid ? "Last name is required" : "")</p>
                        <InputText @bind-Value="@result.LastName" typeof="text" placeholder="Last name" class="@(EditModeLastNameInvalid ? "invalid" : "")" />
                    </td>
                <td class="py-4 align-content-center">
                        <p class="invalidText">@(EditModeEmailInvalid ? "Email is required" : "")</p>
                        <InputText @bind-Value="@result.Email" typeof="text" placeholder="Email adress" class="@(EditModeEmailInvalid ? "invalid" : "")" />
                    </td>
                <td class="py-4 align-content-center">
                        <p class="invalidText">@(EditModePhoneInvalid ? "Valid phone number required" : "")</p>
                        <InputText @bind-Value="@result.Phone" typeof="text" placeholder="Phone number" class="@(EditModePhoneInvalid ? "invalid" : "")" />
                    </td>
                <td class="py-4 align-content-center">
                        @if (!deleteConfirmEnabled)
                        {
                        <button @onclick="async ()=>{await SaveUpdatedToDb(result);}">Save</button>
                        <button @onclick="async ()=>{await UpdateEmployeeList();}">Cancel</button>
                        <button @onclick="()=>{deleteConfirmEnabled = true;}">Remove</button>
                        }
                        else
                        {
                        <p>Confirm delete</p>
                        <button @onclick="async ()=>{await RemoveCustomer(result);}">Remove</button>
                        <button @onclick="()=>{deleteConfirmEnabled = false;}">Cancel</button>
                        }
                    </td>
                }
                else
                {
                <tr class="hover-darken">
                    <td @onclick="async ()=>{await ToogleSelectedCustomer(result);}">@result.Id</td>
                    <td @onclick="async ()=>{await ToogleSelectedCustomer(result);}">@result.FirstName</td>
                    <td @onclick="async ()=>{await ToogleSelectedCustomer(result);}">@result.LastName</td>
                    <td @onclick="async ()=>{await ToogleSelectedCustomer(result);}">@result.Email</td>
                    <td @onclick="async ()=>{await ToogleSelectedCustomer(result);}">@result.Phone</td>
                    <td><button @onclick="()=>{editModeEnabled = true; selectedEmployee = result;}">Modify</button></td>
                </tr>
                    @if (selectedEmployee == result){
                        <div class="customers-projects-wrapper">
                            <h6>Connected projects</h6>
                            @if (_employeeProjectList.Count == 0)
                            {
                            <p class="customers-projects">No connected projects</p>
                            }
                            else
                            {
                                @foreach (var project in _employeeProjectList)
                                {
                                <div>
                                    <p class="customers-projects" @onclick="()=>{NavigateToProject(project.Id);}">(P-@project.Id) @project.Name</p>
                                </div>
                                }
                            }
                        </div>
                    }
                }
            }
        </tbody>
    </table>
</div>

@code {
    private EmployeeRegistrationForm _registrationForm = new();
    private List<Employee> _employeeList = [];
    private List<Project> _employeeProjectList = [];
    private bool addUserMenuOpened = false;
    private bool editModeEnabled = false;
    private bool deleteConfirmEnabled = false;
    private Employee selectedEmployee = null!;
    private bool emailExists = false;

    private bool FirstNameInvalid = false;
    private bool LastNameInvalid = false;
    private bool EmailInvalid = false;
    private bool PhoneInvalid = false;

    private bool EditModeFirstNameInvalid = false;
    private bool EditModeLastNameInvalid = false;
    private bool EditModeEmailInvalid = false;
    private bool EditModePhoneInvalid = false;

    protected override async Task OnInitializedAsync()
    {
        await UpdateEmployeeList();
    }

    private async Task ToogleSelectedCustomer(Employee employee)
    {
        if (selectedEmployee == employee)
        {
            selectedEmployee = null!;
        }
        else
        {
            var projects = await _projectService.GetAllProjectsAsync(x => x.EmployeeId == employee.Id);
            _employeeProjectList = projects.ToList();
            selectedEmployee = employee;
        }
    }

    private async Task UpdateEmployeeList()
    {
        // Reset all values
        deleteConfirmEnabled = false;
        editModeEnabled = false;
        selectedEmployee = null!;
        var x = await _employeeService.GetAllAsync();
        _employeeList = x.ToList();
    }

    private async Task SubmitInputs()
    {
        if (await CheckInputs())
            return;

        _registrationForm.Email = _registrationForm.Email.ToLower();

        var result = await _employeeService.CreateAsync(_registrationForm);
        if (result != null)
        {
            UserAdded();
            await UpdateEmployeeList();
        }
    }

    private async Task<bool> CheckInputs()
    {
        bool InvalidExists = false;
        FirstNameInvalid = false;
        LastNameInvalid = false;
        EmailInvalid = false;
        PhoneInvalid = false;
        emailExists = false;

        if (string.IsNullOrWhiteSpace(_registrationForm.FirstName))
        {
            FirstNameInvalid = true;
            InvalidExists = true;
        }
        else
            _registrationForm.FirstName = _registrationForm.FirstName.Trim();

        if (string.IsNullOrWhiteSpace(_registrationForm.LastName))
        {
            LastNameInvalid = true;
            InvalidExists = true;
        }
        else
            _registrationForm.LastName = _registrationForm.LastName.Trim();

        if (!string.IsNullOrWhiteSpace(_registrationForm.Phone))
        {
            _registrationForm.Phone = _registrationForm.Phone.Trim();
            var phonePattern = @"^\d{1,12}$";
            if (!Regex.IsMatch(_registrationForm.Phone, phonePattern))
            {
                PhoneInvalid = true;
                InvalidExists = true;
            }
        }

        if (string.IsNullOrWhiteSpace(_registrationForm.Email))
        {
            EmailInvalid = true;
            InvalidExists = true;
        }
        else
        {
            _registrationForm.Email = _registrationForm.Email.Trim().ToLower();
            var emailPattern = @"^[^@\s]+@[^@\s]+\.[^@\s]+$";
            if (!Regex.IsMatch(_registrationForm.Email, emailPattern))
            {
                EmailInvalid = true;
                InvalidExists = true;
            }
        }

        // Check if email already exists
        var result = await _employeeService.Exists(x => x.Email == _registrationForm.Email);
        if (result)
        {
            EmailInvalid = true;
            InvalidExists = true;
            emailExists = true;
        }
        
        return InvalidExists;
    }

    private bool CheckUpdatedInputs()
    {
        bool InvalidExists = false;
        EditModeFirstNameInvalid = false;
        EditModeLastNameInvalid = false;
        EditModeEmailInvalid = false;
        EditModePhoneInvalid = false;

        if (string.IsNullOrWhiteSpace(selectedEmployee.FirstName))
        {
            EditModeFirstNameInvalid = true;
            InvalidExists = true;
        }
        else
            selectedEmployee.FirstName = selectedEmployee.FirstName.Trim();

        if (string.IsNullOrWhiteSpace(selectedEmployee.LastName))
        {
            EditModeLastNameInvalid = true;
            InvalidExists = true;
        }
        else
            selectedEmployee.LastName = selectedEmployee.LastName.Trim();

        if (string.IsNullOrWhiteSpace(selectedEmployee.Email))
        {
            EditModeEmailInvalid = true;
            InvalidExists = true;
        }
        else
        {
            selectedEmployee.Email = selectedEmployee.Email.Trim().ToLower();
            var emailPattern = @"^[^@\s]+@[^@\s]+\.[^@\s]+$";
            if (!Regex.IsMatch(selectedEmployee.Email, emailPattern))
            {
                EditModeEmailInvalid = true;
                InvalidExists = true;
            }
        }

        if (!string.IsNullOrWhiteSpace(selectedEmployee.Phone))
        {
            selectedEmployee.Phone = selectedEmployee.Phone.Trim();
            var phonePattern = @"^\d{1,12}$";
            if (!Regex.IsMatch(selectedEmployee.Phone, phonePattern))
            {
                EditModePhoneInvalid = true;
                InvalidExists = true;
            }
        }

        return InvalidExists;
    }

    private void UserAdded()
    {
        _registrationForm = new();
        addUserMenuOpened = false;
    }

    private async Task SaveUpdatedToDb(Employee entity)
    {
        if (CheckUpdatedInputs())
            return;

        await _employeeService.Update(entity);
        await UpdateEmployeeList();
        editModeEnabled = false;
        selectedEmployee = null!;
    }

    private async Task RemoveCustomer(Employee employee)
    {
        await _employeeService.Delete(employee);
        editModeEnabled = false;
        selectedEmployee = null!;
        await UpdateEmployeeList();
    }

    private void NavigateToProject(int projectId)
    {
        NavigationManager.NavigateTo($"/projectview/{projectId}");
    }
}
