<div class="project-card-container" @onclick="()=>NavigateTo(project.Id)">
    <h4 class="project-header">@project.Name</h4>
    <div class="info-wrapper">
        <h6>Manager: <p>@project.Manager?.FirstName @project.Manager?.LastName</p></h6>
        @if (string.IsNullOrWhiteSpace(project.Customer?.CompanyName))
        {
            <h6>Customer: <p>@project.Customer?.FirstName @project.Customer?.LastName</p></h6>
        }
        else
        {
            <h6>Customer: <p>@project.Customer.CompanyName</p></h6>
        }


        <div class="date-wrapper">
            <div>
                <h6>Start date</h6>
                <p>@project.StartDate</p>
            </div>
            <div>
                <h6>End date</h6>
                <p>@project.EndDate</p>
            </div>
        </div>
    </div>
</div>

@code {
    // Props
    [Parameter]
    public Project project { get; set; } = new();

    private void NavigateTo(int projectId)
    {
        NavigationManager.NavigateTo($"/projectview/{projectId}");
    }
}